.circle_animation-transparent {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: round 8s linear infinite;

    :first-child {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid rgba(190, 190, 190, 0.38);
    }

    :nth-child(2) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 50%;
      
        border-radius: 50%;
        border: 1px solid $contrast ;
    }

    :nth-child(3) {
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: pxToRem(14px);
        height: pxToRem(14px);
        background-color: $lightest;
        border-radius: 50%;
    }
}


@keyframes round {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}