.horisontal-scrolling {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    @media screen and (max-width:600px) {
            display: none;
            visibility: hidden;
        }
}

.horisontal-scrolling__track {
    width: fit-content;
    flex: 0 0 auto;
}

.horisontal-scrolling__track-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 65vh;
    margin-left: 40vw;
}

.horisontal-scrolling__panel-wide {
    position: relative;

    width: 40vw;
    height: 100%;
    overflow: hidden;
    flex: 0 0 auto;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}