@use './resetStyles/normolize.scss';
@use 'fonts';
@use './resetStyles/resetCss.scss';
@use 'sass:math';
@import './variables';


//Fn for converting px to rem
@function pxToRem($pxValue) {
    @return math.div($pxValue, 18px) * 1rem;
}

*{
    outline: 1px dashed red;
}
body {
    position: relative;
    border: 1px solid rgb(20, 1, 1);
    background-color: #0a0a0a;
    color: #FFFFFF;
    font-family: Cormorant;
    min-height: 100vh;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    scroll-behavior: smooth;

}
.content-section{
overflow: hidden;
}

.content-container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding:0;
    overflow: hidden;
    
}
/* Full width - break out of parent container */
.alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}


@import './components/_header';

.wrapper{
    position: absolute;
    z-index: 2;
    top: 0;
   
    display: flex;
    flex-direction: row;
   margin-inline: 20vw;
    align-items: start;
    margin-top: 208px;
    
    


}
.main{
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__title{
    font-weight: 400;
        font-size:pxToRem(80px) ;
        line-height:pxToRem(97px);
        letter-spacing: 0.085em;
        margin-bottom: pxToRem(39px);
}

.main__dishes{
        font-size:pxToRem(65px);
        line-height:pxToRem(79px);
        margin-bottom: pxToRem(28px);
        max-width: pxToRem(347px);

        span{
            color: $lightest;
        }
}
.main_about{
        font-size:pxToRem(17px);
        line-height:pxToRem(21px);
        max-width: pxToRem(280px);
}

.circle_animation{
position: absolute;
top: -80px;
left: -60px;
z-index: -1;
    :first-child{
       position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: pxToRem(352px);
        height: pxToRem(352px);
        background-color: $contrast2;
        border-radius: 50%;
    }
    :nth-child(2){
        position: relative;
            width: pxToRem(237px);
            height: pxToRem(237px);
            background-color:$contrast2;
            border-radius: 50%;
            border:1px solid $contrast ;
    }
    :nth-child(3){
        position: absolute;
            top: 70px;
            width: pxToRem(14px);
            height: pxToRem(14px);
            background-color: $lightest;
            border-radius: 50%;
           
    }
}
///////

.sticky-element {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.track {
    width: fit-content;
    flex: 0 0 auto;
}
.track-flex {
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 65vh;
    margin-inline: 40vw;
}
.panel-wide {
    position: relative;
 
    width: 40vw;
    height: 100%;
    overflow: hidden;
    flex: 0 0 auto;
   

    img {
       
        width: 100%;
        height: 100%;
        object-fit: cover;
        // opacity: .25;
    }
}

