@use './resetStyles/normolize.scss';
@use 'fonts';
@use './resetStyles/resetCss.scss';
@use 'sass:math';
@import './variables';


//Fn for converting px to rem
@function pxToRem($pxValue) {
    @return math.div($pxValue, 18px) * 1rem;
}

// *{
//     outline: 1px dashed rgba(255, 0, 0, 0.349);
// }
//General and container settings
body {
    position: relative;
    background-color: $background;
    color: $fonts;
    font-family: Cormorant;
    min-height: 9 0vh;
    -webkit-overflow-scrolling: touch;
    // overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.scroll-container {
    overflow: auto;
    scroll-snap-type: y mandatory;
}
.content-section{
    overflow: hidden;
    scroll-snap-align: start;
}

.content-container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding:0;
    overflow: hidden; 
}

/* Full width - break out of parent container */
.alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

//Import of styles of components: 
@import './components/_header';
@import './components/_about';
@import './components/_circle';
@import './components/_horizontalList';
@import './components/_productCard';


///////
.popular-cards__wrapper{
    display: flex;
    justify-content: space-around;
    gap:pxToRem(20px);
    flex-wrap: wrap;
   
    margin-bottom: pxToRem(156px);
}

.advertise{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    flex-wrap: wrap;
   
}

.advertise__blocks{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    align-items: center;
    justify-content: space-evenly;
}

.advertise-first{
    position: relative;
    max-width: pxToRem(683px);
    background-color: $accent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: fit-content;
}

.advertise-four {
    max-width: pxToRem(546px);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: $contrast2;
    height: fit-content;
    // padding: pxToRem(25px);

    p {
        font-weight: 700;
        font-size: pxToRem(20px);
        line-height: pxToRem(24px);
        margin: pxToRem(24px) 0;
        
    }
}

.advertise-two {
    position: relative;
    max-width: fit-content;
    background-color: $lightest;
    height: fit-content;
}

.advertise-first-animation__position{
    position: absolute;
    width: pxToRem(249px);
    height: pxToRem(249px);
    z-index: 2;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}



.advertise-first__wrapper{
    margin: pxToRem(30px) 0 0 pxToRem(97px) ;
    min-width: pxToRem(235px);
    width: 100%;

    h3{
        margin-top: pxToRem(72px);
        margin-bottom: pxToRem(17px);
        font-weight: 700;
            font-size:pxToRem(45px) ;
            line-height:pxToRem(54px) ;
    }
    p{
        margin-bottom: pxToRem(72px);
        font-weight: 400;
            font-size:pxToRem(15px);
            line-height:pxToRem(18px) ;
    }
    
}



//Arrow and circle, which change color when crossed
.advertise-arrow, %advertise-arrow {
    position: relative;
    width: pxToRem(20px);
    height: pxToRem(20px);
    margin: pxToRem(25px);
    border-radius: 50%;
    background-color: $lightest;
    float: right;
    &:hover,
    &:focus {
        &::before {
            top: 50%;
            left: -50%;
        }
    }

    &::before {
        content: url(../img/svg/arrow.svg);
        position: absolute;
        top: 50%;
        left: -80%;
        transform: translate(-50%, -50%);
        margin-right: pxToRem(11px);
        mix-blend-mode: difference;
    }}

    .advertise-arrow__dark{
        @extend %advertise-arrow;
        background-color: $accent;
        position: absolute;
        bottom: 0;
        right: 0;
      
    }

    //Category label
%advertise__category,.advertise__category{
    padding: pxToRem(4px) pxToRem(25px);
    
    font-weight: 400;
    width: fit-content;
        font-size:pxToRem(15px) ;
        line-height:pxToRem(18px) ;
        text-align: center;
        color: $accent;
        background-color:$lightest;
}

.advertise__category__dark{
    @extend %advertise__category;
        color: $fonts;
        background-color: $background;
        margin: pxToRem(14px) pxToRem(24px);
        position: absolute;
        top: 0;
        left: 0;
}

