@use './resetStyles/normolize.scss';
@use 'fonts';
@use './resetStyles/resetCss.scss';
@use 'sass:math';
@import './variables';
@import './components/_themeSwitcher';

//Fn for converting px to rem
@function pxToRem($pxValue) {
    @return math.div($pxValue, 18px) * 1rem;
}

// *{
//     outline: 1px dashed rgba(255, 0, 0, 0.349);
// }

//General and container settings
body {
    -webkit-overflow-scrolling: touch;
    background-color:$backgroundLight;
    color: $contrast;
    font-family: Cormorant;
    scroll-behavior: smooth;
}

.scroll-container {
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.content-section{
    overflow: hidden;
    scroll-snap-align: start;
}

.content-container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding:0;
    overflow: hidden; 
}

/* Full width - break out of parent container */
.alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

//Import of styles of components: 
@import './components/_header';
@import './components/_about';
@import './components/_circle';
@import './components/_horizontalList';
@import './components/_productCard';
@import './components/_categoryLabel';
@import './components/_arrow&circle';
@import './components/form';
@import './components/_advertise';
@import './components/_discount';


///////
.popular-cards__wrapper{
    display: flex;
    justify-content: space-around;
    gap:pxToRem(20px);
    flex-wrap: wrap;
    margin-bottom: pxToRem(156px);
}


